[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
summa = "*"
spacy = "*"
pytextrank = "*"
rake-nltk = "*"
hdbscan = "*"
pandas = "*"
bertopic = "*"
numpy = "*"
nbformat = "==4.2.0"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
